
<div class="container">
    <div class="row">

        <div class="col-md-8 col-md-offset-2">

            <div class="alert alert-danger" ng-show="cart.error">{{cart.error}}</div>
            <div class="alert alert-success" ng-show="cart.success">{{cart.success}}</div>

            <div ng-show="logged_in && cart.isCheckout">
                <h1>Payment Info</h1>
                <div class="list-group">

                    <div class="col-md-12">
                        <form novalidate name="paymentForm" class="form-horizontal payment-form">
                            <div class="form-group">
                                <label class="control-label col-md-4">CC Number</label>
                                <div class="col-md-8">
                                    <input ng-model="cart.payment.number" name="cardNumber"
                                           placeholder="16-digit number" required ng-pattern="/^[0-9]{16}$/">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-4">Expiry Month</label>
                                <div class="col-md-8">
                                    <input ng-model="cart.payment.month" name="cardMonth"
                                           placeholder="mm" required ng-pattern="/^[0-9]{2}$/">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-4">Expiry Month</label>
                                <div class="col-md-8">
                                    <input ng-model="cart.payment.year" name="cardYear"
                                           placeholder="yyyy" required ng-pattern="/^[0-9]{4}$/">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-4">Card Pin</label>
                                <div class="col-md-8">
                                    <input ng-model="cart.payment.pin" name="cardPin"
                                           placeholder="####" required ng-pattern="/^[0-9]{4}$/">
                                </div>
                            </div>

                            <div class="form-group payment-buttons">

                                <div class="col-md-4 text-right">
                                    <button class="btn btn-primary"
                                            ng-click="cart.completeOrder()"
                                            ng-disabled="paymentForm.$invalid">Complete Order</button>
                                </div>
                                <div class="col-md-8">
                                    <button class="btn btn-danger"
                                            ng-click="cart.cancelCheckout()">Cancel</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div ng-hide="cart.isCheckout">
                <h1>Your Cart <span ng-show="cart.distinctProducts.length === 0"> is Empty!</span></h1>
                <div class="list-group">

                    <div ng-repeat="product in cart.distinctProducts | orderBy: 'cart_product_id' track by product.cart_product_id"
                         class="list-group-item featured-entry">

                        <div class="row">
                            <div class="col-md-4">
                                <img ng-src="img/{{product.image}}.jpg" class="featured">
                            </div>
                            <div class="col-md-5">
                                <h4>{{product.name}}</h4>
                                <p>{{product.description}}</p>
                                <ul>
                                    <li class="productDetails" ng-repeat="tagline in product.taglines">{{tagline}}</li>
                                </ul>
                            </div>
                            <div class="col-md-3 text-center">

                                <h5 ng-show="product.count > 1" class="price-tag">
                                    ({{product.price | currency }} x {{product.count}}) {{product.price * product.count |
                                    currency }}
                                </h5>
                                <h5 ng-hide="product.count > 1" class="price-tag">
                                    <span class="item-note">{{product.price | currency }}</span>
                                </h5>
                                <button class="btn" ng-click="cart.remove(product)" >
                                    Remove from Cart
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">

            <div class="col-md-4 text-center">
                <button ng-show="cart.distinctProducts.length !== 0 && logged_in && !cart.isCheckout"
                        ng-click="cart.checkout()"
                        class="btn btn-primary cart-checkout">Check Out</button>
                <button ng-show="cart.distinctProducts.length !== 0 && !logged_in" ui-sref="account"
                        class="btn btn-primary cart-checkout">Log In</button>
            </div>
            <div class="col-md-8" ng-show="!cart.isCheckout && cart.distinctProducts.length > 0">
                <h4>Total: {{cart.total | currency}}</h4>
            </div>

        </div>
    </div>
</div>