<div class="page">
  <table id="label" class="table table-striped">
    <tr>
      <th><a href="#">Home</a></th>
      <th> Result Log: <%= checkName %></th>
      <th>Query: <input id="queryStr" placeholder="MongoDB Query Filter Parameter" style="width:80%"/></th>
      <th><button type="button" id="queryBtn">Go</button></th>
    </tr>
  </table>
  <table id="run_list" class="table table-striped">
    <tr>
      <th></th>
      <th>TIME</th>
      <th>RESPONSE TIME</th>
      <th>FAIL REASON</th>
    </tr>
  </table>
</div>
