<ion-tabs class="tabs-icon-top">

    <ion-tab
            title="Home"
            icon-off="ion-ios7-home-outline"
            icon-on="ion-ios7-home"
            href="/tab/home">
        <ion-nav-view name="tab-home"></ion-nav-view>
    </ion-tab>

    <ion-tab
            title="Products"
            icon-off="ion-ios7-pricetags-outline"
            icon-on="ion-ios7-pricetags"
            href="/tab/products">
        <ion-nav-view name="tab-products"></ion-nav-view>
    </ion-tab>

    <ion-tab
            title="Cart"
            icon-off="ion-ios7-cart-outline"
            icon-on="ion-ios7-cart"
            badge="tabs.count"
            badge-style="badge-balanced"
            href="/tab/cart">
        <ion-nav-view name="tab-cart"></ion-nav-view>
    </ion-tab>

    <ion-tab
            title="Account"
            icon-off="ion-ios7-gear-outline"
            icon-on="ion-ios7-gear"
            href="/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
    </ion-tab>

    <ion-tab ng-if="logged_in"
            title="Favorites"
            icon-off="ion-ios7-heart-outline"
            icon-on="ion-ios7-heart"
            href="/tab/favorites">
        <ion-nav-view name="tab-favorites"></ion-nav-view>
    </ion-tab>

</ion-tabs>